@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-header-img {
  background-image: url('/assets/bg_aholi_frame..png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-card-img {
  background-image: url('/assets/bg_aholi_pattern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rounded-figure {
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.rounded-figure-reverse {
  -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
